html {
    height: 100%;
    font-size: 24px;
}

body {
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to left,#4f4f51, #2c2b30);

}

label {
    color: white;
}

h1 {
    color: white;
}

.center_container {

    display:flex;
    flex-direction: column;
    align-items: center;
    
   
}

.user_input {
    margin: 10px;
    font-size: 0.8rem;
}

#amort_table {
    
}

#stats_table {
    margin-bottom: 30px;
    margin-top: 30px;
}

#amort_div {
    font-size: 0.85rem;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    color: white;
}

th,
td {
  padding: 8px;
}


